{
  "FIREBASE_WEB_API_KEY": "BURAYA_WEB_API_KEY",
  "FIREBASE_ANDROID_API_KEY": "BURAYA_ANDROID_API_KEY",
  "FIREBASE_IOS_API_KEY": "BURAYA_IOS_API_KEY",
  "APP_CHECK_DEBUG_TOKEN": "BURAYA_APP_CHECK_DEBUG_TOKEN_OPSIYONEL",
  "APP_CHECK_WEB_SITE_KEY": "BURAYA_RECAPTCHA_V3_SITE_KEY_OPSIYONEL"
}
